body {
    font-family: 'Arial', sans-serif;
    background-color: #2b2b2b;
    color: #ffffff;
}

.calculator {
    width: 350px;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid #1a1a1a;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

#monitor {
    border: 2px solid #1a1a1a;
    border-radius: 4px;
    text-align: right;
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    font-size: x-large;
    font-weight: bold; /* Set the font-weight to bold */
    background-color: #111;
    color: #fff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.button,
.buttonNum,
.result,
.simpleButton
{
    width: 65px;
    float: left;
    vertical-align: middle;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: 1px solid #444;
    background-color: #2b2b2b;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1)
}

.memoryButtons .button
{
    border: 2px solid #1a1a1a;
    background-color: #1a1a1a;
    box-shadow: 0 0 0;
}

.result
{
    background-color: #cf8806;
}
.simpleButton{
    font-size: larger; /* Adjust the font size here */
}
.buttonNum{
    border: 1px solid #908c8c;
    background-color: #686666;
    box-shadow: 0 0 5px rgba(124, 122, 122, 0.1);
}
.buttonNum:hover{
    background-color: #1a1a1a;
}

.button:hover,
.result:hover,
.buttonNum:hover,
.simpleButton:hover
{
    background-color: #1a1a1a;
}

.memoryButtons,
.buttons
{
    display: flex;
    width: 100%;
}